.wrapper {
	padding-top: calc(var(--mantine-spacing-lg) * 4);
	padding-bottom: calc(var(--mantine-spacing-lg) * 4);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inner {
	padding-top: calc(var(--mantine-spacing-lg) * 4);
	padding-bottom: calc(var(--mantine-spacing-lg) * 4);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media (max-width: $mantine-breakpoint-md) {
		margin-right: 0;
	}
}

.title {
	font-weight: 800;
	line-height: 1.05;
	font-size: rem(64px);
	max-width: 100%;

	@media (max-width: $mantine-breakpoint-md) {
		max-width: 100%;
		font-size: rem(34px);
		line-height: 1.15;
	}
}

.subtitle {
	padding-top: var(--mantine-spacing-xl);
	line-height: 1.05;
	font-size: rem(36px);
	max-width: 100%;

	@media (max-width: $mantine-breakpoint-md) {
		max-width: 100%;
		font-size: rem(26px);
		line-height: 1.15;
	}
}

.description {
	max-width: rem(400px);

	@media (min-width: $mantine-breakpoint-md) {
		max-width: 100%;
	}
}

.control {
	padding-left: rem(40px);
	padding-right: rem(40px);
	font-size: rem(18px);

	@media (max-width: $mantine-breakpoint-md) {
		width: 100%;
	}
}
